.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom animations */
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotating {
  to {
    --a: 360deg;
  }
}

.yax {
  display: inline-flex;
  align-items: center;
  justify-content: center;   /* center text horizontally */
  line-height: 1;

  min-width: 8px;           /* ← key line */
  padding: 4px 8px;
  border-radius: 4px;

  background: hsla(150, 8%, 5%, .5);
  color: hsla(0, 0%, 100%, 0.3);
  white-space: nowrap;
}

